* { box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(185, 227, 227);
    
}

header {
    background-color: rgb(255, 255, 255);
    border-bottom: solid gray 7px;
   
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 30px;
    padding: 0 ;
    
}

 header li {
    list-style-type: none;
    color: rgb(0, 0, 0);
    font-size: 100%;
}

#highscores {
    color:rgb(67, 158, 158) ;
}
#highscoresNav {
    display: flex;
    padding: 22px;
    padding-left: 0;
}
main {
     display: flex;
     flex-direction: column;
     align-items:center;
     text-align: center;
     padding: 100px 90px ;
     background-color: white;
}



#startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 45px;
    font-size: large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 158, 158);

}




footer {
  position: fixed;
  text-align: center;
  font-size: large;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}